<!--<div class="h-full w-full">-->
<!--  <form action="#" class="pt-6" [formGroup]="branchForm">-->
<!--    <div class="row px-6">-->
<!--      <div class="col-sm-12 pt-2 pb-8">-->
<!--        <h1 class="text-theme-primary font-hairline">-->
<!--          <button mat-button (click)="back()"><fa-icon [icon]="backIcon"></fa-icon>Back</button>&nbsp;&nbsp;Add company branch.</h1>-->
<!--      </div>-->
<!--      <div class="col-sm-7">-->
<!--        <div class="">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Branch name</mat-label>-->
<!--            <input type="text" placeholder="Branch name" matInput formControlName="name">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="mb-6" *ngIf="!defaultBranch">-->
<!--          <mat-checkbox formControlName="defaultBranch"><small>Set as current branch</small>&nbsp;&nbsp;-->
<!--            <fa-icon title="All menu items, staff members done by this application would be saved under this branch" [icon]="infoIcon"></fa-icon>-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-12">-->
<!--        <mat-divider></mat-divider>-->
<!--      </div>-->
<!--      <div class="col-sm-7 mt-2">-->
<!--        <div class="py-2">-->
<!--          <h3 class="">Location</h3>-->
<!--          <div class="form">-->
<!--            <mat-form-field appearance="outline">-->
<!--              <mat-label>Location</mat-label>-->
<!--              <input type="text" matInput placeholder="Location" formControlName="location" />-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--&lt;!&ndash;          <p class="mt-2 mb-1">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-stroked-button>Add location on map</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </p>&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="ml-2"><mat-checkbox><small>Auto detect</small></mat-checkbox></span>&ndash;&gt;-->
<!--          <p class="mt-2 mb-1">-->
<!--            <button (click)="getAddress()" mat-stroked-button>Auto detect</button>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-7 mt-2">-->
<!--        <div class="py-4">-->
<!--          <button mat-raised-button (click)="addBranch()" class="bg-theme-primary text-white">save</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
