// @import "../../../theme/theme";
.master {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.detail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.mat-form-field {
  // width: unset !important;
}

.settings-view {

}

