<section id="wast_events" class="h-full w-full">
  <div class="header bg-grey-lightest border-b px-8 pt-6">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <h2 class="text-theme-primary font-hairline">
              <fa-icon [icon]="titleIcon"></fa-icon>&nbsp;Waste events</h2>
            <p><small>Record all waste events on items.</small></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <button mat-flat-button>Add event</button>
      </div>
    </div>
  </div>
  <div class="body">

  </div>
</section>
