@import "../../../theme/theme";
#header {
  height: 11%;
}
#action {
  height: 10%;
}
#body {
  height: 89%;
}

// modal
.top-modal {
  .content {
    height: 90%;
    overflow: hidden;
    .header {
      height: 8%;
      text-align: center;
    }
    .body {
      height: 92%;
    }
  }
}
