<h2 class="text-theme-primary py-2 mt-1 border-b border-dashed mb-4">Subscription</h2>
<section id="header">
    <mat-card>
        <mat-card-content>
            <div class="inline-block px-4">
                <span class="text-green"><fa-icon size="5x" [icon]="checkIcon"></fa-icon></span>
            </div>
            <div class="inline-block w-2/3">
                <h1>Prenum</h1>
                <h4 class=" mb-6"> You are subscribed as a test user.</h4>
            </div>
            <div class="text-center border-t pt-3">
                <p>
                    The issued licence might be subjected to policy changes.
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</section>
